<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos Comprados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-searchbar
    [animated]="true"
    (ionInput)="filtrar($event)"
    (ionCancel)="iniciar_lista()">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let producto of lista_comprados">
        <p><b>Nombre: </b>{{producto.nombre}}<br>
          <b>Fecha de compra: </b>{{producto.fecha_compra}}<br>
          <b>Cantidad: </b>{{producto.unidades}}</p>      
    </ion-item>
  </ion-list>
</ion-content>
