<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input placeholder="Nombre del Producto"></ion-input>
  <ion-button>
    <ion-icon name="barcode"></ion-icon>
  </ion-button>
</ion-content>
