<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color=secondary scrollable="true">

  <ion-searchbar
      [animated]="true"
      (ionInput)="filtrar($event)"
      (ionCancel)="iniciar_lista()">
    </ion-searchbar>

    <ion-list>
      <ion-item-sliding *ngFor="let producto of lista_productos" #slidingItem>
        <ion-item (press)="activar_seleccion_multiple(producto)" (click)="pasar_a_pendiente(producto)">
          <ion-checkbox [(ngModel)]="producto.seleccionado" style="margin-right: 10px;" [hidden]="!seleccion_multiple"></ion-checkbox>
          <p><b>Nombre: </b>{{producto.nombre}}<br>
          <b>Fecha de registro: </b>{{producto.fecha_alta}}<br>
          <b>Codigo de barras: </b>{{producto.barcode!==''?'Si':'No'}}</p>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminar_registrado(producto, slidingItem)">Borrar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" [hidden]="seleccion_multiple">

    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="nuevo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button (click)="nuevo_con_codigo()">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" [hidden]="!seleccion_multiple">
    <ion-fab-button (click)="pasar_compra()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-footer>
