<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mi Compra
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="cesta_llena" *ngIf="!lista">
  
    <ion-searchbar
      [animated]="true"
      (ionInput)="filtrar($event)"
      (ionCancel)="iniciar_lista()">
    </ion-searchbar>

    <ion-list color="secondary">
      <ion-item-sliding *ngFor="let producto of lista_productos_pendientes" #slidingItem>
        <ion-item>
          <p><b>Nombre: </b>{{producto.nombre}}<br>
          <b>Fecha pendiente: </b>{{producto.fecha_pendiente}}<br>
          <b>Cantidad: </b>{{producto.unidades}}</p>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="producto_comprado(producto, slidingItem)">Comprado</ion-item-option>
          <ion-item-option color="danger" (click)="producto_eliminado(producto, slidingItem)">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <div class="cesta_vacía" *ngIf="lista">
    <img src="../assets/img/relax.png" class="logo-gabitel">
    <p>La compra esta hecha, pasa un buen día!</p>
  </div>

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = "scan_barcode()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>