:host{    
    
    .list-md{
        padding: 0px 0px 0px 0px;
    }

    .cesta_vacía{
        text-align: center;

        p{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 140%;
            text-shadow: 2px 2px rgb(145, 145, 145)f;
        }
    }
}

    

